<div class="content-panel">
	<!--
	<script src="/javascripts/destroy_on_load.js"></script>
	<script src="/javascripts/big-data.js"></script>
	-->
	<div class="title">
		<h2>Big Data, meet Big Viz</h2>
	</div>
	<div class="content">
		<div class="row row_1_of_2">
			<div class="col_1_of_2">
				<div class="big-data-demo">
					<h2 class="subtitle">See &amp; interact with it</h2>
					<div class="chart-demo" zingchart id="interact-demo" zc-data="interact_data"></div>
					<ul>
						<li class="width-50">
							<ul>
								<li>
									<select id="points_to_render" style="-webkit-appearance: menulist-button; border-color: rgb(153, 153, 153);">
										<option value="10000" ng-selected="timeToRun('interact-dem0',10000)">10,000 data points</option>
										<option value="25000" ng-selected="timeToRun('interact-dem0',25000)">25,000 data points</option>
										<option value="50000" ng-selected="timeToRun('interact-dem0',50000)">50,000 data points</option>
										<option value="100000" ng-selected="timeToRun('interact-dem0',100000)">100,000 data points</option>
									</select>
								</li>
								<li>
									<button type="button" id="run-speed-test">Run Test</button>
								</li>
							</ul>
						</li>
						<li class="width-50">
							<ul id="float-right">
								<li>
									<button type="button" id="z9">Need more?</button>
								</li>
								<li>
									<p id="time-to-render">10,0000 points rendered in 0.123s</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col_1_of_2">
				<div class="big-data-demo">
					<h2 class="subtitle">Evaluate it</h2>
					<div class="chart-demo" zingchart id="evaluate-demo" zc-data="evaluate_data_plot_rules"></div>
					<ul>
						<li>
							<button type="button" ng-click="modify('evaluate-demo',evaluate_data_plot_rules)">Plot Rules</button>
						</li>
						<li>
							<button type="button" ng-click="modify('evaluate-demo',evaluate_data_marker_rules)">Marker Rules</button>
						</li>
						<li>
							<button>Drilldown</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row row_1_of_2">
			<div class="col_1_of_2">
				<div class="big-data-demo">
					<h2 class="subtitle">Annotate it</h2>
					<div class="chart-demo" zingchart id="annotate-demo" zc-data="annotate_data"></div>
					<ul>
						<li>
							<button type="button" id="draw-trend-lines">Draw Trend Lines</button>
						</li>
						<li>
							<button type="button" id="annotate-anomalies">Annotate Anomalies</button>
						</li>
						<li>
							<button type="button" id="callouts">Callouts</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="col_1_of_2">
				<div class="big-data-demo">
					<h2 class="subtitle">Share it</h2>
					<div class="chart-demo border"></div>
					<ul>
						<li>
							<button>Export</button>
						</li>
						<li>
							<button>Unique Context Menu</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>