<div class="content-panel">
	<div class="title">
		<h2>Big Data, meet Big Viz</h2>
	</div>
	<div class="content">
		<div class="row row_1_of_2">
			<div class="col col_1_of_2">
				<div>
					<h2 class="subtitle">See &amp; interact with it</h2>
					<div class="chart-demo" zingchart id="interact-demo" zc-data="interact_data"></div>
					<ul class="big-data-input">
						<li>
							<div dropdown-select="point_options" dropdown-model="points_to_render" dropdown-item-label="name" dropdown-onchange="timeToRun(points_to_render.value)"></div>
						</li>
						<li id="render-time-container">
							<p ng-model="time_to_render" id="time-to-render">{{points_to_render.name}} rendered in {{time_to_render}}</p>
						</li>
						<li>
							<button class="right" type="button" id="z9">Need more? Try Z9</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="col col_1_of_2">
				<div>
					<h2 class="subtitle">Evaluate it</h2>
					<div class="chart-demo" zingchart id="evaluate-demo" zc-data="evaluate_data"></div>
					<ul class="big-data-input">
						<li>
							<button type="button" ng-click="set_data('evaluate-demo', evaluate_data_rules)">Apply Rules</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row row_1_of_2">
			<div class="col col_1_of_2">
				<div>
					<h2 class="subtitle">Annotate it</h2>
					<div class="chart-demo" zingchart id="annotate-demo" zc-data="annotate_data"></div>
					<ul class="big-data-input">
						<li>
							<button type="button" id="draw-trend-lines">Draw Trend Lines</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="col col_1_of_2">
				<div>
					<h2 class="subtitle">Share it</h2>
					<div class="chart-demo" zingchart id="share-demo" zc-data="share_data"></div>
					<ul class="big-data-input">
						<li>
							<button>Export</button>
						</li>
						<li>
							<button>Unique Context Menu</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>