<script src="../javascripts/lib/modules/zingchart-html5-api-annotations-min.js"></script>
<div class="content-panel">
	<div id="dialog-1" title="Add Note:"><span>Text:&nbsp;</span><input type='text' id='noteText' name='noteText'><button onclick="applyNote(document.getElementById('noteText').value);$( '#dialog-1' ).dialog( 'close' );">Add Note</button>&nbsp;&nbsp;<button onclick="$( '#dialog-1' ).dialog( 'close' );">Cancel</button></div>
	<script>
	var node1={};
	var node2={};
	var noteToAdd={};
	var clickNum=0;

	    $( "#dialog-1" ).dialog({
	    autoOpen: false,  
	});
	zingchart.click = function(p) {
	    console.log(p);
	    if (p.id == 'annotate-demo') {
		    if(p.target!='node'){
		        if(clickNum%2===0){
		            node1={};
		            node2={};
		            node1.x=p.x;
		            node1.y=p.y;
		        }
		        if(clickNum%2===1){
		            node2.x=p.x;
		            node2.y=p.y;
		        }
		        if(node1!==null&&node2!==null){
		            zingchart.exec('annotate-demo','removeobject',{
		                type:'shape',
		                cls:'trendline'
		                });
		            zingchart.exec('annotate-demo', 'addobject', {
		            type : 'shape',
		            data : {
		                    type : 'line',
		                    cls:'trendline',
		                    lineWidth : 3,
		                    alpha : 0.75,
		                    lineStyle : 'dashed',
		                    lineColor : "rgb(94,144,182)",
		                    points : [
		                        [node1.x,node1.y],
		                        [node2.x,node2.y]
		                    ]
		                }
		        });
		        }
		        clickNum++;
		    }
	    }
	};
	//var noteToAdd={};
	var noteNum=0;
	zingchart.node_click=function(p){
	    noteToAdd=p;
	    $( "#dialog-1" ).dialog( "open" );
	};
	function applyNote(note_text){
	    zingchart.exec('annotate-demo','addnote',{   
	        id : 'note'+noteNum,
	            type : 'node',
	            text : note_text,
	            plotindex : noteToAdd.plotindex,
	            nodeindex : noteToAdd.nodeindex
	        });
	    noteNum++;
	}
	function calcTrend(){
	    var nodes = zingchart.exec('annotate-demo', 'getseriesvalues', {
	        plotindex : 0
	    });
	    
	    /* calculate sums */
	    var sxy = 0, sx = 0, sy = 0, sx2 = 0, l = 0;
		/* check if key-value pair */
		for (var i=0;i<nodes.length;i++) {
			sxy += nodes[i][0]*nodes[i][1];
			sx += nodes[i][0];
			sy += nodes[i][1];
			sx2 += nodes[i][0]*nodes[i][0];
			l++;
		}
		var b = (l * sxy - sx * sy) / (l * sx2 - sx * sx);
		var a = (sy - b * sx) / l;
	    
	    /* get scale values */
		var oScaleInfo = zingchart.exec('annotate-demo', 'getobjectinfo', {
			object : 'scale',
			name : 'scale-x'
		});
	    
		var aScaleValues = oScaleInfo.values, fScaleMin = aScaleValues[0], fScaleMax = aScaleValues[aScaleValues.length-1];

		var aRange = [a + b*fScaleMin, a + b*fScaleMax];

		zingchart.exec('annotate-demo', 'modify', {
			data : {
	             "labels":[{
	                    "text":"2. Click two blank spots in the plot (start/end) to draw your own trend line!",
	                    "background-color":"#fff",
	                    "font-size":"12px",
	                    "padding":"2 6 2 6",
	                    "x":"8%",
	                    "y":"17%"
	                    },
	                    {
	                    "text":"1. Select a node to create a note.",
	                    "background-color":"#fff",
	                    "font-size":"12px",
	                    "padding":"2 6 2 6",
	                    "x":"8%",
	                    "y":"11%"
	                    }
	                ],
				'scale-y' : {
					markers : [
						{
							type : 'line',
							range : aRange,
							lineColor : '#c00',
							lineWidth : 3,
							alpha : 0.75,
							lineStyle : 'dashed',
							label : {
								text : ''
							}
						}
					]
				}
			}
		});
	};
	function annotate(){
	zingchart.exec('annotate-demo', 'addnote', {
	    id : 'note1',
	    type : 'node',
	    text : 'Note 1',
	    plotindex : 0,
	    nodeindex : 3
	    });
	};
	</script>
	<div class="title">
		<h2>Big Data, meet Big Viz</h2>
	</div>
	<div class="content">
		<div class="row row_1_of_2">
			<div class="col col_1_of_2">
				<div>
					<h2 class="subtitle">See &amp; interact with it</h2>
					<div class="chart-demo" zingchart id="interact-demo" zc-data="interact_data"></div>
					<ul class="big-data-input hide-for-mobile">
						<li>
							<div dropdown-select="point_options" dropdown-model="points_to_render" dropdown-item-label="name" dropdown-onchange="timeToRun(points_to_render.value)"></div>
						</li>
						<li id="render-time-container">
							<p ng-model="time_to_render" id="time-to-render">{{points_to_render.name}} rendered in {{time_to_render}}</p>
						</li>
						<li>
							<a class="right button" id="z9" href="localhost:9999/index.html" target="_blank">Need more? Try Z9</a>
						</li>
					</ul>
					<ul class="show-for-mobile">
						<li ng-repeat="option in point_options" class="mobile-button-list">
							<button type="button" class="mobile-button" ng-click="timeToRunMobile(option)">{{option.name}}</button>
						</li>
					</ul>
					<div class="show-for-mobile">
						</br>
						</br>
					</div>
					<div id="render-time-container">
						<p ng-model="render_time" id="render-time">{{render_time}}</p>
					</div>
				</div>
			</div>
			<div class="show-for-phone">
				</br>
				</br>
			</div>
			<div class="col col_1_of_2">
				<div>
					<h2 class="subtitle">Evaluate it</h2>
					<div class="chart-demo" zingchart id="evaluate-demo" zc-data="evaluate_data"></div>
					<ul class="big-data-input">
						<li>
							<button type="button" ng-click="set_data('evaluate-demo', evaluate_data_rules)">Apply Rules</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="show-for-phone">
			</br>
			</br>
		</div>
		<div class="row row_1_of_2">
			<div class="col col_1_of_2">
				<div>
					<h2 class="subtitle">Annotate it</h2>
					<div class="chart-demo" zingchart id="annotate-demo" zc-data="annotate_data" zc-output="{'output':'canvas'}"></div>
					<ul class="big-data-input">
						<li>
							<button type="button" id="draw-trend-lines" ng-click="calc_trend_line()">Calculate Trend Lines</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="show-for-phone">
				</br>
				</br>
			</div>
			<div class="col col_1_of_2">
				<div>
					<h2 class="subtitle">Share it</h2>
					<div class="chart-demo" id="share-demo" ng-class="{border: no_img}">
						<img ng-src="{{annotate_chart_output}}">
					</div>
					<ul class="big-data-input">
						<li>
							<button type="button" ng-click="get_annotate_chart()">Share Chart</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>