<div class="content-panel">
	<div class="title">
		<h2>Sophisticated Viz made Easy</h2>
	</div>
	<div class="content">
		<div class="row row_1_of_1">
			<div class="col_1_of_2">
				<div class="easy-demo">
					<h2 class="subtitle thin">JSON</h2>
					<div class="editor" ui-ace="{
							useWrapMode : true,
							showGutter: false,
							theme:'dawn',
							mode: 'json',
							onLoad: aceLoaded,
						
							}" ng-model="editable_json"  class="ace-editor"
></div>
					<!-- <button class="right">Render</button> -->
				</div>
			</div>
			<div class="col_1_of_2">
				<div class="easy-demo chart">
					<h2 class="subtitle thin">Chart</h2>
					<div class="easy" zingchart id="complicated_chart" zc-data="chart_json"></div>
				</div>
			</div>
		</div>
	</div>
</div>
