<div class="content-panel">
	<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Passion+One:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<div class="title">
		<h2 id="greeting-big">DIY Dataviz</h2>
		<h2 id="greeting-small">DIY</h2>
		<div class="hide-for-mobile">
			<div class="buttons">
				<div dropdown-select="all_themes" dropdown-model="current_theme" dropdown-item-label="name" dropdown-onchange="new_screen(current_theme.theme)"></div>
			</div>
		</div>
		<ul class="show-for-mobile">
			<li class="mobile-button-list" ng-repeat="action in all_themes">
				<button type="button" class="mobile-button" ng-click="new_screen(action.theme)">{{action.name}}</button>
			</li>
		</ul>
	</div>
	<div class="content">
		<div class="row row_1_of_1">
			<div class="laptop-demo">
				<img id="laptop-cutout" src="../images/laptop.png">
				<img id="laptop-screen" ng-src="{{screen_image}}">
				<div zingchart id="designers_chart" zc-data="standard_data"></div>
			</div>
		</div>
	</div>
</div>