<div class="content-panel">
	<div class="title">
		<h2>DIY Dataviz</h2>
		<div class="buttons">
			<div dropdown-select="all_themes" dropdown-model="current_theme" dropdown-item-label="name" dropdown-onchange="new_screen(current_theme.theme)"></div>
		</div>
	</div>
	<div class="content">
		<div class="row row_1_of_1">
			<div class="laptop-demo">
				<img id="laptop-cutout" src="../images/laptop.png">
				<img id="laptop-screen" ng-src="{{screen_image}}">
				<div zingchart id="designers_chart" zc-data="standard_data"></div>
			</div>
		</div>
	</div>
</div>