<div class="content-panel">
	<div class="title">
		<h2>ZingChart vs.</h2>
	</div>
	<div class="content">
		<div class="row row_1_of_1">
			<div class="zingchart-vs">
				<div class="vs-options-panel">
					<div class="vs-options" dropdown-select="provider_options" dropdown-model="selected_provider" dropdown-item-label="name" dropdown-onchange="check_status()"></div>
					<div class="vs-options" dropdown-select="chart_options" dropdown-model="selected_chart" dropdown-item-label="name" dropdown-onchange="check_status()"></div>
					<div class="vs-options" dropdown-select="size_options" dropdown-model="selected_size" dropdown-item-label="name" dropdown-onchange="check_status()"></div>
					<button type="button" ng-disabled="not_ready" ng-click="GO_SPEEDTEST_GO(selected_provider, selected_chart, selected_size)">Go!</button>
					<div class="vs-speed-results">{{vs_speed_results.name}}</div>
				</div>
				<div class="resulting-chart"></div>
			</div>
		</div>
	</div>
</div>
