<div class="content-panel">
	<!-- CHARTS -->
	<script src="../charts/oneK.js"></script>
	<script src="../charts/tenK.js"></script>
	<script src="../charts/fiftyK.js"></script>
	<script src="../charts/onehundredK.js"></script>
	<script src="../charts/twohundredK.js"></script>
	<script src="../charts/fourhundredK.js"></script>
	<!-- CHART LIBS
	<script src="../vendor/amcharts/amcharts.js"></script>
	<script src="../vendor/amcharts/serial.js"></script>
	<link 	href="../vendor/c3js/c3.css" rel="stylesheet">
	<script src="../vendor/c3js/d3.v3.js" chartset='utf-8'></script>
	<script src-"../vendor/c3js/cs.js"></script>
	<script src="../vendor/fusioncharts/fusioncharts.js"></script>
	<script src="../vendor/fusioncharts/fusioncharts.charts.js"></script>
	<script src="../vendor/fusioncharts/fusioncharts.theme.fint.js"></script>
	-->
	<div class="title">
		<h2>ZingChart vs.</h2>
	</div>
	<div class="content">
		<div class="row row_1_of_1">
			<div class="zingchart-vs">
				<div class="vs-options-panel">
					<div class="vs-options" dropdown-select="provider_options" dropdown-model="selected_provider" dropdown-item-label="name" dropdown-onchange="check_status()"></div>
					<div class="vs-options" dropdown-select="chart_options" dropdown-model="selected_chart" dropdown-item-label="name" dropdown-onchange="check_status()"></div>
					<div class="vs-options" dropdown-select="size_options" dropdown-model="selected_size" dropdown-item-label="name" dropdown-onchange="check_status()"></div>
					<button type="button" ng-disabled="not_ready" ng-click="GO_SPEEDTEST_GO(selected_provider.name, selected_chart.name, selected_size.value)">Go!</button>
					<div class="vs-options">{{vs_speed_results}}</div>
				</div>
				<div id="result-container">
					<div id="resulting-chart"></div>
				</div>
			</div>
		</div>
	</div>
</div>
