<div class="content-panel">
	<img id="cover-image" src="../images/cover02.png">
	<!--
	<div class="title" id="bottom-10">
		<h1 id="zingchart-logo-dark" style="margin-left:auto;margin-right:auto;">ZingChart</h1>
		<br/>
		<h2 style="float:none;text-align:center;margin-left:auto;margin-right:auto;">Welcome DATAWEEK 2014!</h2>
		<br/>
	</div>
	<div class="content" id="no-float">
		<h2 class="subtitle" style="float:none;text-align:center;margin-left:auto;margin-right:auto;">Let us show you BIG VIZ for your BIG DATA</h2>
		<img class="we-use-spacing" id="to-bottom" src="../images/cover.png">
	</div>
	-->
</div>
