<div class="content-panel">
	<div class="title fixed">
		<h2>Beyond Bar Charts &amp; Pie Charts</h2>
		<!--
		<div class="buttons">
			<ul>
				<li>
					<button type="button" class="theme-change" ng-click="renderWithTheme(gotham)">Gotham</button>
				</li>
				<li>
					<button type="button" class="theme-change" ng-click="renderWithTheme(googlish)">Googlish</button>
				</li>
				<li>
					<button type="button" class="theme-change" ng-click="renderWithTheme(oceanic)">Oceanic</button>
				</li>
			</ul>
		</div>
		-->
	</div>
	<div class="content overflow">
		<div class="kitchen-sink-demo">
			<h2 class="subtitle">Chart Types</h2>

			<div class="buttons">
				<ul>
					<li>
						<button type="button" class="theme-change" ng-click="renderWithTheme(gotham)">Gotham</button>
					</li>
					<li>
						<button type="button" class="theme-change" ng-click="renderWithTheme(googlish)">Googlish</button>
					</li>
					<li>
						<button type="button" class="theme-change" ng-click="renderWithTheme(oceanic)">Oceanic</button>
					</li>
				</ul>
			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="line_chart" zc-data="line_data"></div>
					<div class="button-row" id="lineBtns">
			          <select ng-model="line_action" ng-options="action.name for action in line_chart_actions" ng-change="modify('line_chart',line_action.data)"></select>
			          <button ng-model="line_dimension" ng-click="toggle_line('line_chart')">{{line_dimension}}</button>
			        </div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="bar_chart" zc-data="bar_data"></div>
					<div class="button-row" id="barBtns">
			          <select ng-model="bar_action" ng-options="action.name for action in bar_chart_actions" ng-change="modify('bar_chart',bar_action.data)"></select>
			          <button ng-model="bar_dimension" ng-click="toggle_bar('bar_chart')">{{bar_dimension}}</button>
			        </div>
			    </div>

			    <div class="col col_1_of_3">
			    	<div class="chart-demo" zingchart id="area_chart" zc-data="area_data"></div>
			    	<div class="button-row" id="areaBtns">
			          <select ng-model="area_action" ng-options="action.name for action in area_chart_actions" ng-change="modify('area_chart',area_action.data)"></select>
			          <button ng-model="area_dimension" ng-click="toggle_area('area_chart')">{{area_dimension}}</button>
			        </div>
			    </div>

			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="pie_chart" zc-data="pie_data"></div>
					<div class="button-row" id="pieBtns">
			          <select ng-model="pie_action" ng-options="action.name for action in pie_chart_actions" ng-change="set_values_and_modify('pie_chart', pie_action.values, pie_action.data)"></select>
			          <button ng-model="pie_dimension" ng-click="toggle_pie('pie_chart')">{{pie_dimension}}</button>
			        </div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="scatter_chart" zc-data="scatter_data"></div>
					<div class="button-row">
						<!--
						<select ng-model="scatter_action" ng-options="action.name for action in scatter_chart_actions" ng-change="modify('scatter_chart',scatter_action.data)"></select>
				        <button ng-model="scatter_dimension" ng-click="toggle_scatter('scatter_chart')">{{scatter_dimension}}</button>
					    -->
				    </div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="radar_chart" zc-data="radar_data"></div>
					<div class="button-row" id="radarBtns">
			          <select ng-model="radar_action" ng-options="action.name for action in radar_chart_actions" ng-change="set_series_and_modify('radar_chart', radar_action.series, radar_action.data)"></select>
			      </div>
				</div>
			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="stock_chart" zc-data="stock_data"></div>
					<div class="button-row" id="stockBtns">
						<select ng-model="stock_action" ng-options="action.name for action in stock_chart_actions" ng-change="modify('stock_chart',stock_action.data)"></select>
				    </div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="bubble_chart" zc-data="bubble_data"></div>
					<div class="button-row" id="bubbleBtns">
				        <select ng-model="bubble_action" ng-options="action.name for action in bubble_chart_actions" ng-change="modify('bubble_chart',bubble_action.data)"></select>
			        </div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="piano_chart" zc-data="piano_data"></div>
					<div class="button-row" id="pianoBtns">
				        <select ng-model="piano_action" ng-options="action.name for action in piano_chart_actions" ng-change="modify('piano_chart',piano_action.data)"></select>
				    </div>
				</div>
				
			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="bullet_chart" zc-data="bullet_data"></div>
					<div class="button-row" id="bulletBtns">
				        <select ng-model="bullet_action" ng-options="action.name for action in bullet_chart_actions" ng-change="modify('bullet_chart',bullet_action.data)"></select>
				    </div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="gauge_chart" zc-data="gauge_data"></div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="funnel_chart" zc-data="funnel_data"></div>
				</div>

			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_3 final_row">
					<div class="chart-demo" zingchart id="venn_chart" zc-data="venn_data"></div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="pareto_chart" zc-data="pareto_data"></div>
				</div>

			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_1">
					<div class="chart-demo" zingchart id="mixed_chart" zc-data="mixed_data"></div>
					<div class="button-row" id="mixedBtns">
						<select ng-model="mixed_action" ng-options="action.name for action in mixed_chart_actions" ng-change="setdata('mixed_chart',mixed_action.data)"></select>
					</div>
				</div>

			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="grid_chart" zc-data="grid_data"></div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="map_chart" zc-data="map_data"></div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="chord_chart" zc-data="chord_data"></div>
				</div>

			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="rankflow_chart" zc-data="rankflow_data"></div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="treemap_chart" zc-data="treemap_data"></div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="wordcloud_chart" zc-data="wordcloud_data"></div>
				</div>

			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_1">
					<div class="chart-demo" zingchart id="network_chart" zc-data="network_data"></div>
				</div>

			</div>

			<h2 class="subtitle">Features</h2>

			<div class="row lotsa_rows">

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="bar_rules_chart" zc-data="bar_rules_data"></div>
					<select ng-model="bar_rules_action" ng-options="action.name for action in bar_rules_chart_actions" ng-change="setdata('bar_rules_chart', bar_rules_action.data)"></select>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="currency_chart" zc-data="currency_data"></div>
					<select ng-model="currency_action" ng-options="action.name for action in currency_chart_actions" ng-change="modify('currency_chart', currency_action.data)"></select>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="patterns_chart" zc-data="patterns_data"></div>
				</div>

			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="arrows_chart" zc-data="arrows_data"></div>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="images_chart" zc-data="images_data"></div>
					<select ng-model="images_action" ng-options="action.name for action in images_chart_actions" ng-change="modify('images_chart', images_action.data)"></select>
				</div>

				<div class="col col_1_of_3">
					<div class="chart-demo" zingchart id="shapes_chart" zc-data="shapes_data"></div>
				</div>

			</div>

			<div class="row lotsa_rows">

				<div class="col col_1_of_2">
					<div class="chart-demo" zingchart id="stacked_chart" zc-data="stacked_data"></div>
					<select ng-model="stacked_action" ng-options="action.name for action in stacked_chart_actions" ng-change="set_series_and_modify('stacked_chart', stacked_action.series, stacked_action.data)"></select>
				</div>

				<div class="col col_1_of_2">
					<div class="chart-demo" zingchart id="area_stacked_chart" zc-data="area_stacked_data"></div>
					<select ng-model="area_stacked_action" ng-options="action.name for action in area_stacked_chart_actions" ng-change="modify('area_stacked_chart', area_stacked_action.data)"></select>
				</div>

			</div>

			<div class="row lotsa_rows">
				
				<div class="col col_1_of_2">
					<div class="chart-demo" zingchart id="drilldown_chart" zc-data="drilldown_data"></div>
				</div>

				<div class="col col_1_of_2">
					<div class="chart-demo" zingchart id="parent_chart" zc-data="parent_data"></div>
				</div>

			</div>

			<!--

			<div class="row lotsa_rows">
				
				<div class="col col_1_of_1">
					<div class="chart-demo" zingchart id="big_chart" zc-data="big_data"></div>
				</div>

			</div>

			<div class="row lotsa_rows">
				
				<div class="col col_1_of_1">
					<div class="chart-demo" zingchart id="tooltips_chart" zc-data="tooltips_data"></div>
					<button ng-model="tooltips_current_text" ng-click="toggle_tooltips('tooltips_chart')">{{tooltips_current_text}}</button>
					<div multi-select input-model="tooltips_actions" button-label="name" item-label="name" helper-elements="" tick-property="ticked" default-label="Select an option" on-item-click="modify_tooltips( data )"></div>
				</div>

			</div>

			<div class="row lotsa_rows">
				
				<div class="col col_1_of_1">
					<div class="chart-demo" zingchart id="zooming_chart" zc-data="zooming_data"></div>
					<button ng-model="tooltips_current_text" ng-click="toggle_tooltips('tooltips_chart')">{{tooltips_current_text}}</button>
					<div multi-select input-model="tooltips_actions" button-label="name" item-label="name" helper-elements="" tick-property="ticked" default-label="Select an option" on-item-click="modify_tooltips( data )"></div>
				</div>

			</div>

			-->

		</div>
	</div>
</div>