<div class="content-panel" id="diverse-data">
	<div class="title">
		<h2>Diverse Data Viz</h2>
	</div>
	<div class="content we-use-spacing">
		<div class="row row_1_of_2">
			<div class="col col_1_of_3 570">
				<img class="we-use-graphics checkmark" src="../images/checkmark.png" />
				<div class="undercolor" id="green"></div>
			</div>
			<div class="col col_1_of_3 570">
				<img class="we-use-graphics lock" src="../images/lock.png" />
				<div class="undercolor" id="navy"></div>
			</div>
			<div class="col col_1_of_3 570">
				<img class="we-use-graphics gear" src="../images/gear.png" />
				<div class="undercolor" id="cyan"></div>
			</div>
		</div>
		<div class="row row_1_of_2">
			<div class="col col_1_of_3 570">
				<h2 class="grey">Library Neutral</h2>
				<div class="we-use-text">
					<p>
						ZingChart uses vanilla JavaScript, which means it is fast and neutral. You can use any library you like with ZingChart whether it is:
					</p>
					<ul class="dotted">
						<li>jQuery</li>
						<li>AngularJS</li>
						<li>Dojo</li>
						<li>ExtJS</li>
						<li>Something we have yet to see...</li>
					</ul>
					<p>
						We've got you covered.
					</p>
				</div>
			</div>
			<div class="col col_1_of_3 570">
				<h2 class="grey">Dependency Free</h2>
				<div class="we-use-text">
					<p>
						The ZingChart team is responsible for 100% of ZingChart’s code. Without relying on dependencies such as jQuery, g.raphael, or ExtJS, this allows us to:
					</p>
					<ul class="dotted">
						<li>Ensure quality</li>
						<li>Tune for performance</li>
						<li>Easily address bugs</li>
						<li>Respond to other issues as they may arise</li>
					</ul>
				</div>
			</div>
			<div class="col col_1_of_3 570">
				<h2 class="grey">Extensive API</h2>
				<div class="we-use-text">
					<p>
						ZingChart provides a robust charting API with over 150 methods and events. We empower developers to quickly build beautiful charts and dashboards with:
					</p>
					<ul class="dotted">
						<li>Interactive features</li>
						<li>Data loading and manipulation</li>
						<li>Capabilities</li>
						<li>Animation</li>
					</ul>
					<p>
						All without writing tons of custom Javascript.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
