body {
	margin: 0;
	background-color: #FFF;
	font-family: "Arial", sans-serif;
}
header {
	width: 100%;
}
section {
	float: left;
}
ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
header ul li {
	float: left;
	display: inline;
	height: 128px;
	background-color: #003849;
}
nav ul li {
	padding: 27px 25px;
	/*
	padding-left: 25px;
	padding-top: 27px;
	padding-bottom: 27px;
	*/
	color: #666;
}
nav ul li:first-child {
	margin-top: 0;
}
nav ul li:not(:last-child) {
	border-bottom: 1px solid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 0;
}
h1 {
	margin-top: 39px;
	font-size: 55px;
	color: #FFF;
}
h2 {
	font-size: 36px;
	font-weight: bold;
	line-height: 38px;
	color: #003849;
}
h3 {
	font-size: 25px;
	line-height: 30px;
	color: #F9F8F8;
}
a {
	text-decoration: none;
	color: inherit;
}
/*
.dropdown {
	background-color: #929292;
	border: 2px solid #003849;
	width: 221px;
	background: url(../images/dropdown_arrow.png) no-repeat 100%;
}
.dropdown select {
	background: transparent;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	color: #FFF;
	width: 221px;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
}
.dropdown select option {
	background-color: #929292;
	border: 2px solid #003849;
	width: 221px;
}
*/
.dropdown {
	float: left;
}
.toggle {
	margin-left: 10px;
}
button {
	font-size: 18px;
	background-color: #003849;
	color: #FFF;
	border-style: none;
	border-radius: 5px;
	margin: 0;
	padding: 8px 12px;
	font-weight: normal;
	cursor: pointer;
}
button:disabled {
	color: #BBB;
	cursor: not-allowed;
}
#zingchart-title {
	width: 500px;
}
#zingchart-logo {
	font-size: 0;
	display: block;
	width: 291px;
	height: 97px;
	background:url(../images/zingchart-logo-white_02.png) no-repeat 0 0;
	margin-top: 2px;
}
#bigviz-bigdata {
	padding-left: 100px;
	padding-right: 100px;
	width: 1860px;
}
#bigviz-bigdata h1 {
	text-align: center;
}
.left-25 {
	padding-left: 25px;
}
#nav-section {
	width: 500px;
	background-color: #1FBBEE;
}
#details-section {
	padding-left: 100px;
	padding-right: 100px;
	width: 1860px;
}
.navigation {
	height: 1312px;
}
.active {
	background-color: #FFF;
}
/*
.active h2 {
	color: #605e5e;
}
*/
.active h3 {
	color: #605E5E;
}
#details {
	width: ;
}
#details {
	margin: 18px 0px;
}
.big-data-input > li {
	margin-left: 0px;
	margin-right: 10px;
	float: left;
	display: inline;
}
.border {
	border: 1px solid;
}
.thin {
	font-weight: lighter;
}
h2.thin {
	font-size: 24px;
}
.content-panel {
	margin-top: 75px;
	color: #605e5e;
}
.title {
	margin-bottom: 38px;
	width: 100%;
	float: left;
}
.title h2 {
	float: left;
	line-height: 36px;
	/* color: #605e5e; */
}
.title .buttons {
	float: right;
	height: 50px;
}
.fixed {
	height: 75px;
	position: fixed;
	z-index: 1000;
}
.overflow {
	position: absolute;
	top: 280px;
	height: 1126px;
	overflow: scroll;
}
.subtitle {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	font-weight: normal;
	color: #605e5e;
}
.content {
	float: left;
}
.row {
	width: 100%;
	float: left;
}
.row_1_of_1 {
	height: 100%;
}
.row_1_of_2 {
	height: 50%;
	margin-bottom: 50px;
}
.lotsa_rows {
	margin-bottom: 50px;
}
.col:not(:last-child) {
	margin-right: 100px;
}
.col_1_of_1 {
	width: 1860px;
	height: ;
}
.col_1_of_2 {
	width: 880px;
	height: 100%;
	float: left;
}
.col_1_of_3 {
	width: 553px;
	height: 100%;
	float: left;
}
.results {
	margin-top: 2px;
}
.chart-demo {
	width: 100%;
	height: 430px;
	margin-bottom: 10px;
}
li.width-50 {
	width: 430px;
	margin-right: 0;
}
ul#float-right > li {
	float: right;
}

/* Height of .easy is just for testing purposes */
.easy {
	height: 645px;
	border: 1px solid;
}


/* Height of .json is just for testing purposes */
.json {
	height: 645px;
	width: 400px;
	margin-bottom: 10px;
}

.big-complex {
	height: 695px;
	width: 100%;
	border: 1px solid;
}
.kitchen-sink-demo {
	width: 1860px;
	height: 1126px;
}
.right {
	float: right;
}
.mobile-demo {

}
.final_row {
	margin-left: 327px;
}
#laptop-cutout {
	width: 1835px;
	height: 1108px;
	z-index: -1;
}
#laptop-screen {
	position: absolute;
	top: 346px;
	left: 870px;
	z-index: 1;
	opacity: 0.9;
}
#mobile-cutout {
	position: absolute;
	z-index: -1;
}
#iphone_chart {
	width: 340px;
	height: 580px;
	position: relative;
	top: 315px;
	left: 34px;
}
#ipad_chart {
	height: 858px;
	width: 1179px;
	position: relative;
	top: -491px;
	left: 481px;
}
#designers_chart {
	z-index: 1000;
	position: relative;
	width: 600px;
	height: 400px;
	top: -687px;
	left: 900px;
	background-color: #FFF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.5), inset 0 -10px 10px rgba(0,0,0,0.1);
}
#time-to-render {
	margin-top: 9.5px;
	margin-bottom: 9.5px;
	color: #605e5e;
}
.ace_editor { 
	height: 500px; 
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}
.ace_scrollbar .ace_scrollbar-h {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}
.active_toggle {
	background-color: #1FBBEE;
}
.theme-buttons {
	width: 36%;
}
.we-use-spacing {
	margin-top: 82px;
}
.570 {
	width: 570px;
}
.570:not(:last-child) {
	margin-right: 75px;
}
.we-use-graphics {
	margin-bottom: 80px;
	height: 240px;
}
.we-use-text {
	font-size: 25px;
	font-weight: bold;
	padding-right: 20px;
}
.checkmark {
	margin-left: 150px;
}
.lock {
	margin-left: 204px; 
}
.gear {
	margin-left: 157px;
}
.undercolor {
	height: 10px;
}
#green {
	background-color: #7CA840;
}
#navy {
	background-color: #003849;
}
#cyan {
	background-color: #1FBBEE;
}
.grey {
	color: #605E5E;
}
.dotted {
	list-style-type: square;
	padding-left: 30px;
}
.dotted li {
	margin-bottom: 5px;
	font-size: 25px;
}
.zingchart-vs {
	padding-left: 200px;
	padding-right: 200px;
}
.vs-options-panel div {
	float: left;
	display: inline;
	margin-right: 10px;
}
#resulting-chart {
	width: 1184px;
	height: 600px;
}
input:focus,
button:focus,
select:focus {
	outline: none;
}
